.footer{
    &__container{
        background: #333A44;
        display: flex;
        align-items: center;
        padding-left: 169px;
        padding-right: 165px;
    }
    &__link{
        padding-top: 35px;
        padding-bottom: 32px;
        margin-right: 59px;
    }
    &__list{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none
    }
    &__item{
        margin: 0;
        padding: 0;
        width: 24px;
    }
    &__item + &__item{
        margin-left: 24px;
    }

}

@media only screen and(max-width: 850px){
    .footer{
        &__container{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__link{
            margin: 0;
            padding: 0;
            padding-top: 64px;
            padding-bottom: 41px;
        }
        &__list{
            padding-bottom: 90px;
        }
        &__nav{
            margin: 0 auto;
            padding-bottom: 87px;
        }
    }
}


@media only screen and(max-width: 450px){
    .footer{
        &__wrapper{
            display: inline-block;
        }
        &__nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
    }
}